.produit {

width: 100%;

}
.centrer{
	padding-left: 50px;
}
.centrer button{
	width: 70%;
	height: 40px;

}
.centrer form{
	width: 100%;
}
.descriLimit{
	
  
    overflow: hidden;
  
}
.article #loupe{
	height: 40px;
	border-radius:50%;
}
.sidebar{
	width: 70%;
}

.carousselAccueil img{
	height: 20px;
	width:100%;
}
table.dataTable tbody tr{
	background-color: black !important;

}
.container{
	max-width: 100%;
}
.pagination{

display: flex;
flex-direction: row;
list-style: : none;
color: red;
}


