.footerText{
  text-align: center;
}
footer {
  background-color:black;
  color : white;

}
.aligner{
  text-align: center;
}
.text-white{
  color: white;
}
img.logoFurcan{
width: 200px;
height:100px;
display:flex;
margin: auto;
justify-content:center;
}
img.logoFacebook{
  width: 60px;
  height:60px;
  margin-right: 2px;



}
img.logoTwitter{
  width: 63px;
  height: 63px;
  margin-right: 5px;
  margin-left: 5px;


}
img.logoInstagram{
  width: 63px;
  height: 60px;
    margin-right: 5px;

}
img.logoLinkedin{
  width: 60px;
  height: 60px;
    margin-left: 5px;

}
.sociaux{
display: inline-flex;
justify-content:center;
  margin-bottom: 50px;

}
.header{
  background-color: black;
  height: 80px;
}
.fond{
  background-color: black;
}
.logoPhone{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.typoNumPhone{
  font-size: x-large;
  color: #a8ce3f;
}
.logoMail{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.typoMail{
  font-size: x-large;
  color: #a8ce3f;

}
.headerPhone,.headerMail{
  display:flex;
  margin: auto;
  justify-content:center;
  margin-top: 20px;

}
.logo{
  height:80px;
  display:flex;
  margin: auto;
  justify-content:center;


}
.facebook{

}
.navbar{
  background-color:#0762b1;

}
body{
  margin: 0px;
}
.car1{
  margin-top: -62px;
}
.titre h1{
  text-align: center;
  color: #0762b1;
}
.titre p{
  text-align: center;
  margin-bottom: 50px;
}
.iconBody{
text-align: center;
}
.navbar-inverse .navbar-nav > li > a{
  color: white;
}




