.footerText{
  text-align: center;
}
footer {
  background-color:black;
  color : white;

}
.aligner{
  text-align: center;
}
.text-white{
  color: white;
}
img.logoFurcan{
width: 200px;
height:100px;
display:flex;
margin: auto;
justify-content:center;
}
img.logoFacebook{
  width: 50px;
  height:50px;


}
img.logoTwitter{
  width: 60px;
  height: 60px;


}
img.logoInstagram{
  width: 55px;
  height: 55px;

}
img.logoLinkedin{
  width: 60px;
  height: 60px;

}
.sociaux{
display: inline-flex;
justify-content:center;

}
.header{
  background-color: black;
  height: 80px;
}
.logoPhone{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.typoNumPhone{
  font-size: x-large;
  color: #a8ce3f;
}
.logoMail{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.typoMail{
  font-size: x-large;
  color: #a8ce3f;

}
.headerPhone,.headerMail{
  display:flex;
  margin: auto;
  justify-content:center;
  margin-top: 20px;

}
.logo{
  height:80px;
  display:flex;
  margin: auto;
  justify-content:center;


}

.logo-page {
    font-size: 80px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 180px;
    color: #2a6496;
}
.texte-page{
    text-align: center;
    font-weight: 900;
    margin-top: -2rem;
}

.card {
  background: #f8f7f7;
  border-radius: 2px;
  height: 200px;
  margin: 4rem;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
